.slides{
    display: none;
   
}
.banner{
    margin-top: 60px;
}


/* Next & previous buttons */
.prev, .next {
    background-color: rgba(0,0,0,0.2);
    position: absolute;
    top: 50%;
    
    padding: 0 8px;
    color:  rgba(0,0,0,0.5);
    font-weight: bold;
    border-radius: 50%;
    user-select: none;
    text-decoration: none !important;
  }

 
  .prev:hover, .next:hover {
    background-color: white;
    color:  inherit;
  }

  .next {
    right: 0;
    margin-right: 30px;

  }

  .prev {
    margin-left: 30px;

  }

  .search input[type=text] {
    height: 45px;
    width: 700px;
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 5px;
    font-size: 16px;
    position: relative;
    
  }
  .button3{
    background-color:#FF6A0E;
    border-radius: 5px;
    color:white;
    width:150px;
    border:0;
    height: 45px;
}

.alasan div p, .isi p{
    font-size: 18px;
}

p#judul{
    font-size: 22px;
}
 p{
    font-size: 16px;
}

.isi p#judul{
    font-size: 28px;
}



.alasan div img{
    width: 130px ;
    height: 130px ;
}

.icon{
    width: 70px ;
    height: 70px ;
}

.garis-judul{
    border:0;
    height: 3px !important;
    width:60px;
    background-color:#FF6A0E;
  }

  .program1{
    background-color:#AEDEE9;
    border-radius: 8px;
 
  }

  .program2{
    background-color: #D7EBEF;
    border-radius: 8px;
  }

 
  .kolaborasi{ 
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;  
  }

 

  .kolaborasi .isi{  
    margin:50px;
  }

@media (max-width:650px){
    .prev, .next{
      top:20%;
    }

    .search input[type=text] {
        
        width: 200px;
        font-size: 12px;
        height: 35px;
    
        
      }
      .button3{
        height: 35px;
        width:80px;
        font-size: 12px;
      }

      .alasan div p{
        margin: 0px 40px;
    }
     .program2{
         text-align: center;
        
     }

     .program2 p{
        margin-right: 20px;
        
    }

     .kolaborasi{
        text-align: center;
        
    }
      
  }

  

