{% extends 'base.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">

{% endblock %}

{% block content %}
<div class="banner">
    <div class="slides">
        <img src="{% static 'img/banner1.png' %}" style="width:100%">
    </div>
    <div class="slides">
        <img src="{% static 'img/banner2.png' %}" style="width:100%">
    </div>
    <div class="slides">
        <img src="{% static 'img/banner3.png' %}" style="width:100%">
    </div>
    <div class="slides">
        <img src="{% static 'img/banner4.jpg' %}" style="width:100%">
    </div>
    <a class="prev" onclick="moveSlides(-1)">&#10094;</a>
    <a class="next" onclick="moveSlides(1)">&#10095;</a>
</div>
<div style="background-color:#AEDEE9;" class="search ">
    <br>
    <div class="row justify-content-center" >
    <input type="text" placeholder=" Cari Kelas Manajemen Operasional">
    <button class="button3"><i class="fas fa-search"></i> Search</button>
    </div>
    <br>
</div>
<div class="container mt-5 " id="keunggulan">
    <h2 class="text-center"  style="color: #163F5B; font-weight: 550;">Kenapa Memilih LatihID?</h2>
    <hr class="garis-judul" style="margin-bottom:85px;">
    <div class="row text-center alasan">
        <div class="col-sm-4 mb-4">
            <img class="mb-4" src="{% static 'img\alasan1.svg' %}">
            <p><b>Fokus Pada UMKM</b></p>
            <p>Program-program LatihID berfokus untuk mengembangkan kualitas bisnis UMKM Indonesia.</p>
        </div>
        <div class="col-sm-4 mb-4">
            <img class="mb-4" src="{% static 'img\alasan2.svg' %}">
            <p><b>Bebas Akses Dimana Saja</b></p>
            <p>Program pelatihan LatihID dapat diakses dengan beragam perangkat teknologi di mana saja, tanpa batasan jarak atau tempat.</p>
        </div>
        <div class="col-sm-4 mb-4 ">
            <img class="mb-4" src="{% static 'img\alasan3.svg' %}">
            <p><b>Akses Seumur Hidup</b></p>
            <p>Dapatkan akses program pelatihan LatihID seumur hidup, dengan hanya melakukan sekali login.</p>
        </div>
    </div>
    <div class="row text-center alasan">
        <div class="col-sm-4 mb-4">
            <img class="mb-4" src="{% static 'img\alasan4.svg' %}">
            <p><b>Akses Kapan Saja</b></p>
            <p>Akses 24/7 untuk semua program pelatihan LatihID, tanpa batasan waktu.</p>
        </div>
        <div class="col-sm-4 mb-4">
            <img class="mb-4" src="{% static 'img\alasan5.svg' %}">
            <p><b>Kelas Gratis & Terjangkau</b></p>
            <p>Nikmati kelas gratis dan terjangkau untuk modul, webinar, dan program-program LatihID lainnya.</p>
        </div>
        <div class="col-sm-4 mb-4">
            <img class="mb-4 mt-2" src="{% static 'img\alasan6.svg' %}">
            <p><b>Konten yang Praktis</b></p>
            <p>Pelatihan praktis yang dapat langsung diterapkan di lapangan usaha.</p>
        </div>
    </div>
</div>

<div class="container">
    <div class=" container mt-3 program1">
        
        <br>
        <img class="center icon" src="{% static 'img\gratis-icon.svg' %}">
        <p class="text-center mt-3" id="judul" ><b>Kelas Gratis Terpopuler</b></p>
        <div class="text-center">
            <button class="button2">Lihat Modul Lainnya &#10095;</button>
        </div>
      
        <div class="row justify-content-center">
            {% for i in modul_terpopuler %}
            <div class="card" style="width: 15rem; height: 15rem;">

                <img class="card-img-top" src="{% static 'img/banner1.png' %}" alt="Card image cap">
                <div class="card-body">
                  <p >{{ i.1 }}<br><br>Gratis</p>
                </div>   
            </div>
            {% endfor %}
        </div>
       
        
    </div>

    <div class=" mt-5 program2">
        <div class="container">
        <br>
        <div class="row">
            <div class="col-md-4 ml-3">
                <img class="icon" src="{% static 'img\news-icon.svg' %}">
                <p class="mt-3" id="judul" ><b>Kelas LatihID Terbaru</b></p>
                <p>Kelas-kelas pelatihan LatihID yang relevan dengan tren terbaru di lapangan atau dunia usaha.</p>
                <button class="button2 mb-4">Lihat Modul Lainnya &#10095;</button>
            </div>
            {% for i in modul_terbaru %}
            <div class="col-md-3 ">
                <div class="card" style="width: 15rem; height: 15rem;">

                    <img class="card-img-top" src="{% static 'img/banner1.png' %}" alt="Card image cap">
                    <div class="card-body">
                      <p >{{ i.1 }}<br><br>Gratis</p>
                    </div>   
                </div>
            </div>
            {% endfor %}
        </div>
        </div>
    </div>

    <div class=" mt-5 program2">
        <br>
        <div class="container">
        <div class="row">
            <div class="col-md-4 ml-3">
                <img class="icon" src="{% static 'img\expert-icon.svg' %}">
                <p class="mt-3" id="judul" ><b>LatihID Expert Class</b></p>
                <p>Kelas dengan harga yang terjangkau, dan penjelasan materi yang lebih rinci. Jangan sampai kelewatan, dan akses kelasnya sekarang.</p>
                <button class="button2 mb-4">Lihat Modul Lainnya &#10095;</button>
            </div>
            {% for i in modul_expert %}
            <div class="col-md-3 modul-terbaru">
                <div class="card" style="width: 15rem; height: 15rem;">

                    <img class="card-img-top" src="{% static 'img/banner1.png' %}" alt="Card image cap">
                    <div class="card-body">
                      <p >{{ i.1 }}<br><br>{{ i.2 }}</p>
                    </div>   
                </div>
            </div>
            {% endfor %}
        </div>
        </div>
</div>

<div class="mt-5 program1">
    <br>
    <img class="center icon" src="{% static 'img\unggulan-icon.svg' %}">
    <p id="judul" class="text-center mt-3" ><b>Program Unggulan LatihID</b></p>
</div>

<h2 class="text-center mt-5"  style="color: #163F5B; font-weight: 550;">Kelas Untuk menambah Keterampilan Anda</h2>
<hr class="garis-judul" style="margin-bottom:85px;">
<div class=" mt-5 program2">
    <div class="container">
    <br>
    <div class="row">
        <div class="col-md-4 ml-3">
            <img class="icon" src="{% static 'img\bisnis.svg' %}">
            <p class="mt-3" id="judul" ><b>Kelas Memulai Bisnis</b></p>
            <p>Kelas-kelas yang tepat untuk kamu, yang ingin belajar cara memulai bisnis. Kamu akan mempelajari materi-materi dasar dari mencari, mengembangkan, sampai mengimplementasikan ide bisnis dengan modul-modul di bawah ini.</p>
            <button class="button2 mb-4">Lihat Modul Lainnya &#10095;</button>
        </div>
        {% for i in modul_bisnis %}
        <div class="col-md-3 modul-terbaru">
            <div class="card" style="width: 15rem; height: 15rem;">

                <img class="card-img-top" src="{% static 'img/banner1.png' %}" alt="Card image cap">
                <div class="card-body">
                  <p >{{ i.1 }}<br><br>Gratis</p>
                </div>   
            </div>
        </div>
        {% endfor %}
    </div>
    </div>
</div>
<div class=" mt-5 program2">
    <div class="container">
    <br>
    <div class="row">
        <div class="col-md-4 ml-3">
            <img class="icon" src="{% static 'img\pemasaran.svg' %}">
            <p class="mt-3" id="judul" ><b>Kelas Pemasaran</b></p>
            <p>Ingin usaha rintisan kamu lebih terkenal di mata publik? Ikuti kelas-kelas pemasaran dengan modul-modul di bawah ini, untuk mewujudkan keinginan tersebut!</p>
            <button class="button2 mb-4">Lihat Modul Lainnya &#10095;</button>
        </div>
        {% for i in modul_pemasaran %}
        <div class="col-md-3 modul-terbaru">
            <div class="card" style="width: 15rem; height: 15rem;">

                <img class="card-img-top" src="{% static 'img/banner1.png' %}" alt="Card image cap">
                <div class="card-body">
                  <p >{{ i.1 }}<br><br>Gratis</p>
                </div>   
            </div>
        </div>
        {% endfor %}
    </div>
    </div>
</div>
<div class=" mt-5 program2">
    <div class="container">
    <br>
    <div class="row">
        <div class="col-md-4 ml-3">
            <img class="icon" src="{% static 'img\operasional.svg' %}">
            <p class="mt-3" id="judul" ><b>Kelas Manajemen Operasional</b></p>
            <p>Ikuti kelas-kelas daring seputar topik manajemen operasional di LatihID. Dari dasar-dasar manajemen sumber daya manusia untuk UMKM, sampai cara membangun loyalitas pelanggan. Akses sekarang di sini.</p>
            <button class="button2 mb-4">Lihat Modul Lainnya &#10095;</button>
        </div>
        {% for i in modul_manajemen %}
        <div class="col-md-3 modul-terbaru">
            <div class="card" style="width: 15rem; height: 15rem;">

                <img class="card-img-top" src="{% static 'img/banner1.png' %}" alt="Card image cap">
                <div class="card-body">
                  <p >{{ i.1 }}<br><br>Gratis</p>
                </div>   
            </div>
        </div>
        {% endfor %}
    </div>
    </div>
</div>
</div>

<div class="row mt-5">
    <div class="col-md-6 kolaborasi" style="background: linear-gradient(to right,rgba(22, 63, 91, 0.85), rgba(22, 63, 91, 0.85)),url(https://1.bp.blogspot.com/-xj9cgzCuR2o/X4-SU5KwgDI/AAAAAAAAE7k/Y5pAuUEp7rUZXtnTVBtLISC2yJsWUVk_ACLcBGAsYHQ/s0/meeting.png)">
        <div class="isi">
            <p id="judul">
                Menjadi Pembicara
            </p>
            <p>LatihID membuka kesempatan untuk individu/lembaga yang bersedia menjadi pemateri untuk program-program LatihID (LatihID Modul, LatihID Talks, LatihID Pojok Cerita, atau LatihID Expert Class). </p>
            <button class="button2 mb-4">Ayo Kolaborasi</button>
        </div>
    </div>
    <div class="col-md-6 kolaborasi" style=" background: linear-gradient(to right,rgba(22, 63, 91, 0.85), rgba(22, 63, 91, 0.85)), url(https://1.bp.blogspot.com/-WaLs1vlpcp0/X4-SU7KKPRI/AAAAAAAAE7g/YfKvSUalBRIxfTOumstN75xszg8Ts-B7wCLcBGAsYHQ/s0/Deal.png)">
        <div class="isi">
            <p id="judul">
                Menjadi Mitra
            </p>
            <p>LatihID membuka kesempatan untuk individu/lembaga yang ingin bekerja sama untuk berbagai jenis kemitraan (seperti media partner, program, dan lainnya).  </p>
            <button class="button2 mb-4">Ayo Kolaborasi</button>
        </div>
    </div>
</div>
</div>
{% endblock %}
{% block customScript %}
<script type="text/javascript" src="{% static 'js/home.js' %}"></script>
{% endblock customScript %}